@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    font-family: "Roboto Condensed", sans-serif;
	background-color: #D5D5D5;
	color: #000000 
}
a {
    transition: color 0.2s;
}
nav a {
    color: #88BBD6;
	font-size: 20px;
}
nav a:hover {
    color: #FF3B3F;
    text-decoration: none;
}
nav.navbar.bg-dark {
    background-color: #3C3C3C!important;
}
.top-splash {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover!important;
    background-position: center center!important;
}
.top-splash h1 {
    color: #ffffff;
	font-size: 55px;
    text-align: center;
}
.content {
    padding-top: 3%;
    text-align: justify;
}
#navbar-logo {
    font-size: 40px;
}
nav.navbar {
    transition: padding 0.2s ease;
    padding: 1rem 1rem;
}
.author-info {
    background-color: #ffffff;
	border-radius: 25px;
    padding: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 10px #cccccc;
    margin-top: 5%;
}
footer {
    margin-top: 5%;
    background-color: #3C3C3C;
    padding: 2% 0px;
    color: #ffffff;
}
footer a {
    color: #88BBD6;
    transition: color 0.2s;
}
footer a:hover {
    color: #5298bd;
    text-decoration: none;
}
.author-img {
    width: 100%;
    border-radius: 50%;
    padding-bottom: 100%;
    background-size: cover!important;
    background-position: center center!important;
}
.author-social {
    position: absolute;
    bottom: 0;
    text-align: right;
}
.author-social a {
    text-decoration: none;
	color: #333333;
}
.author-social a:hover {
    text-decoration: none;
	color: #555555;
}
