@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    font-family: "Roboto Condensed", sans-serif;
}
nav a {
    color: #fff;
    transition: color 0.2s;
}
nav a:hover {
    color: #888;
    text-decoration: none;
}
nav.navbar.bg-dark {
    background-color: #222!important;
}
.top-splash {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover!important;
    background-position: center center!important;
}
.top-splash h1 {
    color: #ffffff;
    text-align: center;
}
.content {
    padding-top: 3%;
}
#navbar-logo {
    font-size: 40px;
}
nav.navbar {
    transition: padding 0.2s ease;
    padding: 1rem 1rem;
}
footer {
    background-color: #ddd;
    padding: 2% 0px;
    color: #555;
}
footer a {
    color: #222;
    transition: color 0.2s;
}
footer a:hover {
    color: #888;
    text-decoration: underline;
}