@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
body {
    font-family: "Roboto Condensed", sans-serif;
}
nav a {
    color: #fff;
    transition: color 0.2s;
}
nav a:hover {
    color: #888;
    text-decoration: none;
}